/*General*/

body {
/*	background:#ccc;*/
	font-family:arial;
}

header,
footer {
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	margin-left:13.65%;
	position:relative;
	width:72.5%;
}

header .content,
footer .content {
	width:100%;
	height:100%;
}

.arrow {
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	display: block;
	border-left: 20px solid transparent;
	left:0.1%;
}

header .arrow:last-of-type,
footer .arrow:last-of-type {
	left:initial;
	right:0;
	border-right: 20px solid transparent;
	border-left: 0;	
}

/*END General*/
/*Header*/

header {
	margin-top:2%;
	height:10%;
}

header .content{
	-webkit-box-shadow:1px 1px 3px #292929;
	-moz-box-shadow:1px 1px 3px #292929;
	box-shadow:1px 1px 3px #292929;
}


header .arrow {
	border-top: 10px solid #c8c8c8;
	top: 102.5%;
}

h1 {
	position:absolute;
	top:35%;
	left:5%;
	font-size:1.9em;
	text-shadow:1px 1px 1px #fff;
}

/*END Header*/
/*content*/

#content {
	width:calc(72.5% - 40px);
	margin:0 calc(13.65% + 20px);
	height:100%;
	background:#fff;
	padding:2%;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

#content>* {
	height:100%;
}

#filterImgContainer {
	float:left;
	margin-right:2%;
	width:38%;
	background:url("../img/bg.jpg") center / cover;
	height:90%;
}

aside {
	margin-left:5%;
	float:right;
	width:55%;
}

label {
	width:100%;
	margin:3% 0;
	display:block;
}

label>span {
	display:inline-block;
	font-weight:bold;
	margin:1% 0;
}

input[type=text] {
	width:2.5em;
	margin-right:0.5%;
	color:#aaa;
	background:transparent;
	border:1px solid #ddd;
}

input[type=range] {
	width:50%;
	margin-right:2%;
	cursor:pointer;
}

#output h2,
#selectbtn {
	margin:5% 0 2% 0;
}

h2 {
	font-size:1.5em;
}

#output h2 {
	float:left;
}

#selectbtn {
	display:inline-block;
	color:#888;
	text-decoration:none;
	font-size:0.8em;
	margin-left:3%;
	margin-top:6.6%;
}

#css {
	width: 100%;
	height: 10em;
	resize:none;
	background:transparent;
	border:none;
}

#css.overflow {
	font-size:0.8em;
}

#caniuse {
	font-size:0.8em;
	color:#888;
}

#caniuse:hover,
#caniuse:active {
	text-decoration:none;
}

/*END content*/
/*Footer*/

footer {
	height:5%;
	margin-top:-2%;
	margin-bottom:3%;
}

footer .arrow {
	top:-25%;
	border-bottom: 10px solid #c8c8c8;
}

footer .content,
footer .content>* {
	position:absolute;
}

footer .content {
	left:5%;
}

footer p {
	top:40%;
	font-size:0.8rem;
}

footer img {
	width:26px;
	position:relative;
	top:5%;
}

footer .github {
	left:150px;
	top:20%;
}

/*END Footer*/